name: Run lint & unit tests

on:
  push:
  pull_request:

jobs:
  build:
    name: "Run unit tests"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: pip install -r requirements-dev.txt

    - name: Build go binary
      run: cd go_utils && go build -o go_utils main.go && cd ..


    - name: Run lint
      run: black src

    - name: Run unit tests
      run: PYTHONPATH=src python -m pytest tests/